@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #f4f2ee;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif; }

header {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  padding: 0rem 4.8rem; }
  header div#header-1 {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header div#header-1 img {
      height: 95%;
      width: 2.15rem; }
    header div#header-1 div#searchBar {
      background-color: #edf3f8;
      margin-left: 0.4rem;
      padding: 0 1rem;
      border: solid 2px transparent;
      border-radius: 0.3rem; }
      header div#header-1 div#searchBar i {
        padding: 0 0rem; }
      header div#header-1 div#searchBar input {
        height: 95%;
        width: 14rem;
        font-size: 0.9rem;
        background-color: transparent;
        border: none;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        header div#header-1 div#searchBar input:focus {
          width: 18rem;
          outline: none; }
  header nav {
    min-width: 42rem; }
    header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header nav ul li {
        width: 5rem;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: rgba(0, 0, 0, 0.6);
        padding: 0.3rem 0.1rem; }
        header nav ul li > span:first-of-type {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 1.7rem;
          height: 1.6rem; }
        header nav ul li i {
          font-size: 1.3rem; }
        header nav ul li p {
          font-size: 0.74rem; }
        header nav ul li:hover {
          color: rgba(0, 0, 0, 0.9);
          cursor: pointer; }
        header nav ul li.current {
          color: rgba(0, 0, 0, 0.9);
          border-bottom: solid 0.15rem rgba(0, 0, 0, 0.9); }
        header nav ul li:nth-of-type(6) img {
          width: 100%;
          height: 100%;
          border-radius: 100%; }
        header nav ul li:nth-of-type(7) {
          width: 6rem;
          border-left: solid 0.2px rgba(0, 0, 0, 0.2); }
        header nav ul li:nth-of-type(6) > span:last-of-type, header nav ul li:nth-of-type(7) > span:last-of-type {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          header nav ul li:nth-of-type(6) > span:last-of-type i, header nav ul li:nth-of-type(7) > span:last-of-type i {
            font-size: 0.87rem;
            padding-left: 0.3rem; }
        header nav ul li:last-of-type {
          width: 7rem;
          -ms-flex-item-align: center;
              align-self: center;
          font-size: 0.73rem;
          text-align: center;
          line-height: 1rem; }
          header nav ul li:last-of-type a {
            text-decoration: none;
            -webkit-text-decoration-line: underline;
                    text-decoration-line: underline;
            color: #915907; }

main {
  display: grid;
  grid-gap: 1.3rem;
  grid-template-areas: 'leftAside section rightAside';
  grid-template-columns: minmax(0, 225px) minmax(0, auto) minmax(0, 300px);
  width: 89vw;
  margin: 4.5rem auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }
  main #left-aside {
    background-color: #FFFFFF;
    border: solid 1px rgba(0, 0, 0, 0.16);
    border-radius: 0.6rem;
    grid-area: leftAside; }
  main section {
    border: none;
    grid-area: section; }
    main section div#userPost {
      background-color: #FFFFFF;
      padding: 0.8rem 1.1rem 0.2rem;
      border-radius: 0.6rem;
      border: solid 1px rgba(0, 0, 0, 0.16);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      main section div#userPost > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      main section div#userPost > div:first-of-type img {
        width: 3rem;
        height: 3rem;
        border-radius: 2rem; }
        main section div#userPost > div:first-of-type img:hover {
          cursor: pointer; }
      main section div#userPost > div:first-of-type #postBtn {
        width: 90%;
        border-radius: 2rem;
        border: solid 1px rgba(0, 0, 0, 0.3);
        color: rgba(0, 0, 0, 0.62);
        text-align: left;
        margin-left: 0.5rem;
        padding: 0.7rem 1rem;
        -webkit-transition: all 0.12s ease-in-out;
        transition: all 0.12s ease-in-out; }
        main section div#userPost > div:first-of-type #postBtn:hover {
          background-color: rgba(119, 119, 119, 0.19);
          cursor: pointer; }
      main section div#userPost > div:last-of-type {
        width: 89%;
        margin: 0.3rem auto 0;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        main section div#userPost > div:last-of-type a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          text-decoration: none;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
          padding: 0.9rem 0.4rem;
          border-radius: 0.3rem;
          -webkit-transition: all 0.12s ease-in-out;
          transition: all 0.12s ease-in-out; }
          main section div#userPost > div:last-of-type a:hover {
            background-color: rgba(119, 119, 119, 0.19); }
          main section div#userPost > div:last-of-type a i {
            font-size: 1.18rem; }
          main section div#userPost > div:last-of-type a:nth-of-type(1) i {
            color: #0A66C2; }
          main section div#userPost > div:last-of-type a:nth-of-type(2) i {
            color: goldenrod; }
          main section div#userPost > div:last-of-type a:nth-of-type(3) i {
            color: orangered; }
          main section div#userPost > div:last-of-type a p {
            font-size: 0.87rem;
            font-weight: 500;
            margin-left: 0.6rem;
            color: rgba(0, 0, 0, 0.6); }
  main #right-aside {
    background-color: #FFFFFF;
    border: solid 1px rgba(0, 0, 0, 0.16);
    border-radius: 0.6rem;
    grid-area: rightAside; }

/*# sourceMappingURL=base.css.map */